if grep -q WSL /proc/version; then
    # If we're running WSL.
    alias jira="cat ~/.jiratemplate | clip.exe"
    alias pr="cat ~/.prtemplate | clip.exe"
fi

# General aliases, regardless of OS.
alias k="kubectl"

nuke_k8s() {
    k3d cluster delete --all
}

nuke_docker() {
    docker rm -f -v $(docker ps -aq)
    docker rmi -f  $(docker images -q)
    docker volume rm $(docker volume ls -q)
    docker network rm $(docker network ls -q)
}

alias nuke="nuke_docker;nuke_k8s;"

alias bat='upower -i $(upower -e | grep 'BAT') | grep -E "state|to\ full|percentage"'
alias notes='vi ~/refs/notes.md'
alias pytemplate='cookiecutter ssh://git@github.com/jsal13/cookiecutter-dstemplate.git'
