# JIRA TICKETING
if grep -q WSL /proc/version; then
    # If we're running WSL.
    alias jira="cat ~/.jiratemplate | clip.exe"
    alias pr="cat ~/.prtemplate | clip.exe"
    alias blog="cat ~/.blogtemplate | clip.exe"
fi

# KUBERNETES
alias k="kubectl"


# DOCKER + KUBERNETES
nuke_k8s() {
    k3d cluster delete --all
}

nuke_docker() {
    docker rm -f -v $(docker ps -aq)
    docker rmi -f  $(docker images -q)
    docker volume rm $(docker volume ls -q)
    docker network rm $(docker network ls -q)
}

alias nuke="nuke_docker;nuke_k8s;"

# MISC 
alias bat='upower -i $(upower -e | grep 'BAT') | grep -E "state|to\ full|percentage"'
