ON_WINDOWS=


if grep -q WSL /proc/version; then
    # If we're running WSL.
    alias jira="cat ~/.jiratemplate | clip.exe"
fi

# General aliases, regardless of OS.
alias k="kubectl"
alias dcp="docker-compose prune"
