atom-text-editor.editor {
  .bracket-colorizer-color0 {
    color: white;
  }
  .bracket-colorizer-color1  {
    color: #9575cd;
  }
  .bracket-colorizer-color2 {
    color: #7986cb;
  }
  .bracket-colorizer-color3  {
    color: #42a5f5;
  }
  .bracket-colorizer-color4  {
    color: #26c6da;
  }
  .bracket-colorizer-color5 {
    color: #66bb6a;
  }
  .bracket-colorizer-color6 {
    color: #ffee58;
  }
  .bracket-colorizer-color7 {
    color: #ffa726;
  }
  .bracket-colorizer-color8 {
    color: #ff7043;
  }
  .bracket-colorizer-color9 {
    color: #ef5350;
  }
}
